/* Main CSS - mostly handled by Tailwind now */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for element containers if needed */
.custom-scroll::-webkit-scrollbar {
    width: 4px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.5);
    border-radius: 20px;
}